/*
 * MyAnimeList Dark Mode originally by Valerio Lyndon
 * 
 * 
 * https://github.com/ValerioLyndon
 * https://myanimelist.net/profile/Valerio_Lyndon
 * 
 * 
 * TABLE OF CONTENTS
 * 
 * RESOURCES             : resources loaded from outside sources
 * 
 * VARIABLES             : set the theme's colours, images, etcetera
 * 
 * PAGE-BASE             : basic site-wide page layout
 * 
 * PAGE-HEADER           : site-wide page navigation
 * 
 * FOOTER                : site-wide footer
 * 
 * CONTENT               : generic, re-used parts of code
 * Headings
 * 
 */
/*==============================*\
  !RESOURCES
\*==============================*/
:root {
	color-scheme: dark;
	
	/* Base Colours */
	--page: hsl(0, 0%, 10%);
	--content: hsl(0, 0%, 19%);
	--content-rgb: 49, 48, 47;
	--content-dim: hsl(30, 0%, 16%);
	--content-dim-rgb: 42, 41, 40;
	--content-dimmer: hsl(30, 0%, 13%);
	--content-dimmest: hsl(30, 0%, 10%);
	--border: var(--content-dimmer);
	
	--accent-bright: hsl(46, 63%, 46%); /*unused as of yet*/
	--accent: hsl(216, 33%, 61%);
	--accent-rgb: 121, 148, 188;
	--accent-dim: hsl(216, 29%, 43%);
	--accent-dimmer: hsl(216, 34%, 31%);
	--accent-dimmest: hsl(215, 33%, 23%);
	--notif: hsl(223, 49%, 60%)
	--notif-rgb: 223, 100, 100;
	
	--text: hsl(0, 0%, 86%);
	--text-dim: hsl(0, 0%, 74%);
	--text-dimmer: hsl(0, 0%, 60%);
	--text-dimmest: hsl(0, 0%, 50%);
	--text-heading: hsl(0, 0%, 89%);
	--text-lnk: hsl(216, 40%, 71%);
	--text-lnk-hov: hsl(223, 49%, 60%);
	
	--icon: hsl(0, 0%, 69%);
	
	--return-bad: hsl(0, 85%, 59%);
	
	--page-shadow: 3px 1.5px 5px hsla(0,0%,0%,25%);
	
	/* Header Colours */
	--header: hsl(0, 0%, 16%);
	--header-rgb: 34, 34, 34;
	--header-dim: hsl(0, 0%, 25%);
	--header-hov: hsl(0, 0%, 26%);
	--header-border: hsl(0, 0%, 6.6667%);
	--header-border-alt: hsl(0, 0%, 3.3334%);
	--header-text: hsl(0, 0%, 96%);
	--header-text-dim: hsl(0, 0%, 86%);
	--header-icon: hsl(222, 68%, 36%);
	
	
	/*	Specific Colours */
	--quotebox-bg: #2c2b2a;
	--quotebox-bg: rgba(15,10,10,0.1);
	--codebox-bg: #3c402f;
	--codebox-bg: #2a2b2b;
	--codebox-text: #96af1d;
	--codebox-text: #99b6c2;
	
	/* Status Colours */
	/* default:
	--watching: #c28639;
	--completed: #364e88;
	--onhold: #ccb050;
	--dropped: #c84e50;
	--planned: #454545;*/
	
	--watching: #bbbbdd;
	--completed: #9999bb;
	--onhold: #777799;
	--dropped: #555577;
	--planned: #444455;
}
/*==============================*\
  !PAGE-BASE
\*==============================*/

body:not(.ownlist) {
	background: var(--page) !important;
	color: var(--text);
}
.page-common #contentWrapper {
	background: var(--content);
	box-shadow: var(--page-shadow);
}
.page-common #content {
	background: var(--content);
	box-shadow: var(--page-shadow);
	border-color: var(--border);
}
.page-common .watch-state-icon.watched {
	color: var(--text-lnk-hov);
}
body.news h2, .page-common .mb16, .page-common .pt16, body.news .news-container .title, body.news .news-container .summary, .featured-article-body p, .news-list .comment-list .text, .news-list .news-unit .text {
	color:#FFF !important;
}
body.news .news-container .tags, body.news .news-container .news-info-block, body.news .news-container .information {
	background: var(--content) !important;
	box-shadow: var(--page-shadow) !important; 
}
/*==============================*\
  !PAGE-HEADER
\*==============================*/
.page-common #headerSmall {
	background: var(--header) !important;
}
#menu:before {
	border-color: var(--header-border);
	box-shadow: var(--page-shadow);
}
.page-common #menu ,.page-common #menu:hover{
	background: var(--content) !important;
}
/* ACCOUNT */
.page-common #header-menu {
	box-shadow: var(--header-border);
	border-color: var(--header-border);
}
/* ACCOUNT ICONS */
.page-common #header-menu .header-menu-unit:not(.header-profile) > a,
.page-common #header-menu .header-notification .header-notification-button {
	color: var(--header-icon) !important;
}
.page-common #header-menu .header-menu-unit:not(.header-profile) > a:hover,
.page-common #header-menu .header-notification:hover .header-notification-button:hover {
	background: var(--header-hov) !important;
}
/* ACCOUNT LIST DROPDOWN */
.page-common .header-list .header-list-dropdown {
	background: var(--header);
	border-color: var(--header-border);
}
.page-common .header-list .header-list-dropdown ul li a {
	color: var(--header-text-dim);
}
.page-common .header-list .header-list-dropdown ul li a:hover {
	background: var(--header-hov);
}
/* ACCOUNT NOTIFICATIONS */
/* Base */
.page-common #header-menu .header-notification-button.has-unread:after, .page-common #header-menu .header-message-button.has-unread:after {
 	background: var(--notif);
	color: var(--header-text);
}
.page-common .header-notification-dropdown .arrow_box {
	background: var(--header);
	border-color: var(--header-border);
}
/* Links */
.page-common .header-notification-item-list a { color: var(--text-lnk) !important; }
.page-common .header-notification-item-list a:hover { color: var(--text-lnk-hov) !important; }
/* Top Bar */
.page-common .header-notification-dropdown-inner h3 {
	background: var(--header-border);
	color: var(--header-text);
}
.page-common .header-notification-dropdown-inner h3 a,
.page-common .header-notification-dropdown-inner h3 .mark-all {
	color: var(--header-text-dim) !important;
}
.page-common .header-notification-dropdown-inner h3 a:hover,
.page-common .header-notification-dropdown-inner h3 .mark-all:not(.disabled):hover {
	background: var(--header-border-alt);
}
.page-common .header-notification-dropdown-inner h3 .mark-all.disabled { color: var(--text-dimmest) !important; }
/* Items */
.page-common .header-notification-item:hover {
	background: var(--header-hov) !important;
}
.page-common .header-notification-item {
	border-color: var(--header-border) !important;
}
.page-common .header-notification-item .inner:not(.is-read) {
	border-color: var(--notif);
	color: var(--text-dim);
}
.page-common .header-notification-item .inner.is-read { color: var(--text-dimmest); }
/* Checkmark */
.page-common .header-notification-item .inner:not(.is-read) .is-read {
	background: var(--header-border);
	color: var(--text);
}
.page-common .header-notification-item .inner:not(.is-read) .is-read:not(.checked) .fa-check:hover { background: rgba(var(--notif-rgb), 0.5); }
.page-common .header-notification-item-header .is-read.checked .fa-check {
	background: var(--notif);
}
.page-common .header-notification-item-header .category { color: var(--text) !important; }
.page-common .is-read .header-notification-item-header .category { color: var(--text-dimmer) !important; }
.page-common .header-notification-item-header .time { color: var(--text-dimmer) !important; }
.page-common .is-read .header-notification-item-header .time { color: var(--text-dimmest) !important; }
/* Friend Requests */
#myanimelist .actions .result, #myanimelist .actions .action-button {
	background: var(--header-border);
	color: var(--text);
}
#myanimelist .actions .result:hover, #myanimelist .actions .action-button:hover { background: var(--notif) !important; }
#myanimelist .actions .action-button.deny { background: var(--header-border); }
#myanimelist .actions .action-button.accept { background: var(--accent-dim); }
#myanimelist .actions .result { background: var(--notif); }
/* Bottom Bar */
.page-common .header-notification-view-all a {
	background: var(--header);
	border-color: var(--header-border);
}
.page-common .header-notification-view-all a:hover {
	background: var(--header-hov);
}
/* ACCOUNT PROFILE */
.page-common .header-profile.link-bg {
	background-color: var(--header);
}
.page-common #header-menu .header-profile .header-profile-link {
	color: var(--header-text);
}
.page-common #header-menu .header-profile .header-profile-link:hover {
	background: var(--header-hov) !important;
}
/* PROFILE DROPDOWN */
.page-common .header-profile .header-profile-dropdown {
	background: var(--header);
	border-color: var(--header-border);
}
.page-common .header-profile .header-profile-dropdown ul li a {
	color: var(--header-text-dim);
}
.page-common .header-profile .header-profile-dropdown ul li a:hover { background: var(--header-hov); }
/* Dividers */
.page-common .header-profile .header-profile-dropdown ul li:last-child:before,
.page-common .header-profile .header-profile-dropdown ul li:nth-child(8):after {
	background: var(--header-border);
}
/* HEADER - PROFILE PICTURE */
.header-profile-button:before {
	background: var(--header);
}
/* ===============================================
HEADER / NAV
=============================================== */
.page-common #header-menu .header-menu-login .btn-login, .page-common #header-menu .header-menu-login .btn-signup {
	color: var(--header-text) !important;
}
.page-common #header-menu .header-menu-login .btn-signup { background: rgba(var(--notif-rgb), 0.5); }
.page-common #header-menu .header-menu-login .btn-login:hover { background: var(--header-hov); }
.page-common #header-menu .header-menu-login .btn-signup:hover { background: rgb(var(--notif-rgb)); }
.page-common #header-menu .header-menu-login .btn-login:after {
	color: var(--header-icon);
}
.page-common #header-menu .header-menu-login .btn-signup:after {
	color: var(--header-icon);
}
/* LINKS */

.page-common #nav li:hover {
	background: var(--header-hov) !important;
}
.page-common #nav li a:hover {
	background: var(--header-hov) !important;
}
.page-common #nav > li > .non-link {
	color: var(--header-text) !important;
}
.page-common #nav li.hover a.non-link {
	background: var(--header-hov) !important;
}
.page-common #nav > li > ul {
	border-color: var(--header-border);
}

.page-common #nav > li > ul > li > a {
	background: var(--header) !important;
	color: var(--header-text-dim) !important;
}
.page-common #nav > li > ul > li > a:hover {
	background: var(--header-hov) !important;
}
/* ===============================================
HEADER / NAV / SEARCH
=============================================== */
#top-search-bar #searchBar {
	background: var(--header-dim);
}
.page-common #searchBar.searchBar #topSearchValue {
	color: var(--text-dim);
}
.page-common #searchBar.searchBar #topSearchValue:focus { 
	background-color: var(--header-hov) !important;
}
.page-common #searchBar.searchBar #topSearchText {
	color: var(--text-dim);
}
.page-common #searchBar.searchBar #topSearchButon {
	color: var(--header-text-dim) !important;
}
.page-common #searchBar.searchBar #topSearchButon:not(.notActive):hover { background: var(--header-hov) !important; }
/* Results */
.page-common #topSearchResultList {
	background: var(--header);
	border-color: var(--header-border);
}
#topSearchResultList .list.focus { background: var(--header-hov); }
#topSearchResultList .list .image { border-color: var(--header-border); }
#topSearchResultList .list .name { color: var(--text-dim) !important; }
#topSearchResultList .list .media-type { color: var(--text-dimmest) !important; }
#topSearchResultList .list .extra-info { color: var(--text-dimmer) !important; }
#topSearchResultList .list.separator {
	background: var(--header-border);
}
#topSearchResultList .list.separator span {
	color: var(--text);
}
#topSearchResultList .list-bottom {
	background: var(--content-dim) !important;
}
#topSearchResultList .list-bottom.focus {
	background: var(--accent) !important;
}
#topSearchResultList .list.list-bottom a { color: var(--header-text); }
#topSearchResultList .list.list-bottom.focus a { color: var(--header); }
/* ===============================================
!FOOTER
=============================================== */
footer {
	box-shadow: var(--page-shadow);
}
.page-common #footer-block {
	background-color: var(--content);
}
.page-common #footer-block .footer-link a {
	color: var(--text-heading);
}
/* First Div */
.page-common #footer-block .footer-link-block:after {
	background: linear-gradient(to right, rgba(var(--accent-rgb), 0), rgba(var(--accent-rgb), 1), rgba(var(--accent-rgb), 0));
}
.page-common #footer-block .footer-link { border-color: var(--accent-dim) !important; }
/* Second Div */
.page-common #footer-block .footer-recommended .icon-recommended {
	color: var(--text-heading);
}
.page-common #footer-block div:after,
.page-common #footer-block #copyright {
	color: var(--accent) !important;
}
#copyright:after {
	content: "MAL Dark Mode by ShaggyZE | Version 0.0.1";
}
/*==============================*\
  !GENERIC
\*==============================*/
/* Scrollbar - Firefox */
* {
  scrollbar-color: var(--accent-dimmer) var(--content-dimmer);
}
/* Scrollbar - Chrome/Webkit */
*::-webkit-scrollbar {
	background: var(--content-dimmest);
}
*::-webkit-scrollbar-track { 
	background: var(--content-dimmer);
}
*::-webkit-scrollbar-thumb {
	background: var(--accent-dimmer);
}
*::-webkit-scrollbar-thumb:hover { background: var(--accent-dim); }
*::-webkit-scrollbar-button, *::-webkit-scrollbar-corner { background: var(--content-dimmest); }
*::-webkit-scrollbar-button:vertical:decrement { background: transparent var(--img-icon-arrow-up) no-repeat center / 8px auto; }
*::-webkit-scrollbar-button:vertical:increment { background: transparent var(--img-icon-arrow-dn) no-repeat center / 8px auto; }
*::-webkit-scrollbar-button:horizontal:decrement { background: transparent var(--img-icon-arrow-lt) no-repeat center / auto 8px; }
*::-webkit-scrollbar-button:horizontal:increment { background: transparent var(--img-icon-arrow-rt) no-repeat center / auto 8px; }
*::-webkit-resizer { background: transparent var(--img-icon-resize) no-repeat right bottom / 12px 12px; }
html::-webkit-scrollbar, body::-webkit-scrollbar { width: 17px; }
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
	background: var(--content-dimmer);
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	background: var(--accent-dim);
}
html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover { background: var(--accent); }
/* Text Colours */
.page-common .lightLink, .page-common .lightLink:link, .page-common .lightLink:visited, .page-common .lightLink:active,
.page-common .dark_text, .page-common .dark_text:hover, .page-common .dark_text:visited {
	color: var(--text-dimmer);
}
.page-common .fn-grey1, .page-common .fn-grey6 { color: var(--text-dimmer) !important; }
.page-common .fn-grey2, .page-common .fn-grey5 { color: var(--text-dimmest) !important; }
.page-common a, .page-common a:visited { color: var(--text-lnk); }
.page-common a:hover { color: var(--text-lnk-hov); }
.page-common .fn-blue1 { color: var(--text-lnk) !important; }
.page-common a.fn-blue1:hover { color: var(--text-lnk-hov) !important; }

/* Text Headers */
.page-common .h1, .page-common .h2, .page-common .h3, .page-common .h4, .page-common .h5, .page-common .h6,
.page-common h1, .page-common h2, .page-common h3, .page-common h4, .page-common h5, .page-common h6 {
	color: var(--text);
}
.page-common .badresult-text { color: var(--return-bad) }
/* Borders & Containers */
:focus { outline-color: var(--accent); }
.wrapper > div > div *:not(img) {
	border-color: var(--border);
}
.page-common .bgColor1 { background: var(--content-dim); }
.page-common .bgColor2 { background: var(--content-dim); }
.page-common .bgbdrContainer,
.page-common .border_top,
#dialog,
.page-common .normal_header,
.page-common .borderClass,
.page-common .border_solid {
	border-color: var(--border);
}
.page-common .bgbdrContainer {
	background: var(--content-dim);
}
/* Images */
.page-common div.picSurround {
	background: var(--border);
	border-color: var(--border);
}
.icon-watch:before, .icon-watch-pv:before {
	color: var(--icon);
}
/* Buttons - Generic */
#myanimelist textarea, #myanimelist input, #Size, #Colour, .page-common .textarea {
	background-color: var(--content-dim);
	border-color: var(--border);
	color: var(--text);
}
input:disabled, textarea:disabled {
	color: var(--text-dimmest);
}
.page-common .textarea, .page-common textarea {
	min-width: 15em;
	min-height: 6em;
	
	resize: both;
}
/* Buttons - Inputs */
#myanimelist .inputButton, .page-common .btn-form-submit,
.page-common.ownlist_style_theme .inputButton {
	background-color: var(--accent);
	color: var(--border);
	
}
#myanimelist .inputButton:not(:disabled):hover, .page-common .btn-form-submit:not(:disabled):hover {
	background: var(--accent-dim);
	color: var(--text-lnk-hov);
}
#myanimelist .inputButton:disabled {
	background-color: var(--content-dimmer);
	color: var(--text-dimmest);
}
/* Patches - Ownlist-style */
.page-common .inputButton.btn-middle:active {
	background: var(--accent);
	color: var(--border);
}
.page-common.ownlist_style_theme .inputButton:hover { color: var(--text-lnk-hov) !important; }
/* Patches -  page */
.page-support #myanimelist #content p, .page-support #myanimelist #content li, .page-support #myanimelist #content h3, .page-support #myanimelist #content h4 {
	color: var(--header-text)
}
/* Buttons - Nav */
.page-common .pagination {
	background: var(--content-dim);
}
.page-common .pagination .link {
	color: var(--text);
}
.page-common .pagination .link:hover { background: var(--content-dimmer); }
.page-common .pagination .link + .link { border-color: var(--border); }
.page-common .pagination .link.current { background: var(--accent-dim) }
.page-common .pagination .link.current:hover { background: var(--accent) }
/* Unknown Anime Images */
img[src*="qm_50.gif"] {
	background-color: var(--border) !important;
}
/* ========== */
ul.ignored-user-list li:nth-child(2n) {
	background: var(--content-dim);
}
.page-common .goodresult, .page-common .successQuery {
	background: var(--content-dim);
	border-color: var(--border);
}
.page-common .goodresult a:link, .page-common .goodresult a:active, .page-common .goodresult a:visited {
	color: var(--text-lnk);
}
.page-common .goodresult a:hover {
	color: var(--text-lnk-hov);
}
.page-common .badresult {
	background-color: var(--return-bad);
	border-color: var(--border);
}
/* Random Pages that should really f****** use simple site-wide classes but instead use singular CSS rules for no HECKing reason  */
h1.term-header1,
h1[data="EULA"], h1[data="TermsOfUse"], .mal-address {
	border-color: var(--border);
}
/* GENERIC @HEADINGS */
/*General*/
.page-common .normal_header,
/*Panel*/
body.index .widget .widget-header,
body.index .ranking-digest .ranking-header,
/*Profile*/
.profile .content-container .container-right h2,
/*Forums*/
.forum .forum-header,
.forum .forum-side-block .header,
/*Anime Search*/
.anime-manga-search .normal_header,
/*Notifications*/
body.notification .notification-header,
/*Ownlist-Style*/
.ownlist_style_theme .customize-content-left .header,
.ownlist_style_theme .customize-content-left h2.theme-custom-header
{
	color: var(--text);
	border-color: var(--border);
}
/*General*/
.page-common .normal_header .floatRightHeader,
/*Panel*/
body.index .widget .widget-header > span,
/*Profile*/
.profile .content-container .user-comments h2 .floatRightHeader,
/*Notifications*/
body.notification .notification-header .right-menu
{
	color: var(--text);
}
/*General*/
.page-common .normal_header a,
/*Panel*/
body.index .widget .widget-header > span a,
.ranking-digest .ranking-header .btn-view_more,
/*Profile*/
.profile .content-container .container-right h2.mb12 .floatRightHeader,
.profile .content-container .user-comments h2 .floatRightHeader a,
/*Forums*/
.forum .forum-header a, .forum .forum-side-block .header a,
/*Anime Search*/
.anime-manga-search .normal_header .floatRightHeader,
/*Notifications*/
body.notification .notification-header .right-menu .item
{
	color: var(--text-dim);
	
}
/*General*/
.page-common .normal_header .floatRightHeader a:hover,
/*Panel*/
body.index .widget .widget-header > span a:hover,
.ranking-digest .ranking-header .btn-view_more:hover,
/*Profile*/
.profile .content-container .container-right h2.mb12 .floatRightHeader:hover,
.profile .content-container .user-comments h2 .floatRightHeader a:hover,
/*Forums*/
.forum .forum-header a:hover, .forum .forum-side-block .header a:hover,
/*Anime Search*/
.anime-manga-search .normal_header .floatRightHeader:hover
{
	background: var(--content-dimmest);
}
/* - - - - - - - - - - - - - - -*\
  Patches
\*- - - - - - - - - - - - - - - */
/* Patches - Advertising */
.page-advertising .ad-contents .ad-text-head3 {
	color: var(--header-text);
}
	
/* Patches - Forum */
.forum-table-header .normal_header > a {
	color: var(--text);
}
/* Patches - Notifications */
body.notification .notification-section .notification-header h3 {
	color: inherit;
}
body.notification .notification-header .right-menu .item.disabled {
	color: var(--text-dimmest);
}
/* Patches - Ownlist-Style */
.ownlist_style_theme .customize-content-left .header .header-text {
	color: inherit;
	font: inherit;
}
/* - - - - - - - - - - - - - - -*\
  Icon About Recommendations
\*- - - - - - - - - - - - - - - */
/* Recommendations Info Icon */
.page-common .icon-about-recommendations {
	color: var(--accent);
}
.page-common .icon-about-recommendations:after {
	background: var(--content-dimmest);
	color: var(--text);
}
/*------------------------------*\
  GENERIC @Sub-Headings
\*------------------------------*/
.profile .content-container .container-right h5,
.ownlist_style_theme .customize-content-left h3.theme-custom-header {
	border-color: var(--border);
	color: var(--text);
}
.profile .content-container .container-right h5 a {
	color: var(--text-dim);
}
/*------------------------------*\
  GENERIC @Sidebar-Headings
\*------------------------------*/
.page-common .user-profile h4 a /*Profile*/
{
	color: var(--text-dim);
}
.page-common .user-profile h4 a:hover /*Profile*/
{
	background: var(--content-dimmest);
}
/* GENERIC @HOVERINFO */
.page-common .hoverinfo {
	background: var(--header);
	border-color: var(--header-border);
	color: var(--text-dim);
}
.page-common .hoverinfo:after {
	border-color: var(--header-border) var(--header-border) transparent transparent;
}
.page-common .hovertitle { color: var(--text) !important }
.page-common .hovertitle:hover { color: var(--text-heading) !important }
.page-common .hoverinfo .dark_text { color: var(--text-dim); }
/* ANIME STATUS BUTTONS (add, edit, etc) */
#myanimelist a.button_add:not(.Lightbox_AddEdit), #myanimelist a.button_edit:not(.Lightbox_AddEdit),
#myanimelist a.Lightbox_AddEdit[class*="button_"]:not(.btn-addEdit-large),
.page-common .quickadd-content .btn-status-add {
	background: var(--content-dim);
	border-color: var(--content-dim);
	color: var(--text-dim);
	
}
#myanimelist a.button_add:not(.Lightbox_AddEdit):hover, #myanimelist a.button_edit:not(.Lightbox_AddEdit):hover,
#myanimelist a.Lightbox_AddEdit[class*="button_"]:not(.btn-addEdit-large):hover,
.page-common .quickadd-content .btn-status-add:hover {
	background: var(--border);
	border-color: var(--border);
	color: var(--text-lnk-hov);
}
#myanimelist a.button_add.watching, #myanimelist a.button_edit.watching,
#myanimelist a.button_add.reading, #myanimelist a.button_edit.reading,
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large.watching,
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large.reading
/* Watching */ { border-color: var(--watching) }
#myanimelist a.button_add.completed, #myanimelist a.button_edit.completed,
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large.completed
/* Completed */ { border-color: var(--completed) }
#myanimelist a.button_add.on-hold, #myanimelist a.button_edit.on-hold,
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large.on-hold
/* On Hold */ { border-color: var(--onhold) }
#myanimelist a.button_add.dropped, #myanimelist a.button_edit.dropped,
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large.dropped
/* Dropped */ { border-color: var(--dropped) }
#myanimelist a.button_add.plantowatch, #myanimelist a.button_edit.plantowatch,
#myanimelist a.button_add.plantoread, #myanimelist a.button_edit.plantoread,
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large.plantowatch,
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large.plantoread
/* Planned */ { border-color: var(--planned) }
/* Buttons - Add/Edit */
.page-common a.button_add.button_add:hover, .page-common a.button_add.button_edit:hover, .page-common a.button_edit.button_add:hover, .page-common a.button_edit.button_edit:hover {
	color: var(--text);
}
/* Buttons - Large */
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large {
	background: var(--content-dim);
	border-color: var(--border);
	color: var(--text);
	
}
#myanimelist a.Lightbox_AddEdit.btn-addEdit-large:hover {
	background: var(--border);
	border-color: var(--border);
	color: var(--text-lnk-hov);
}
/*==============================*\
  !PAGE-TITLE
\*==============================*/
.page-common .h1 {
	background: var(--header);
	color: var(--text-heading) !important;
	border-color: var(--border);
}
.page-common .h1 .title-english {
	color: var(--text-dimmer);
}
.header-right #editdiv {
	background: var(--header);
	border: var(--header-border);
}
/* User Banners (moderators, etc) */
.icon-team-title {
	background-color: var(--content-dim);
}
/* GENERIC @Breadcrumb */
.page-common .breadcrumb ~ .breadcrumb div { float: right; }
.page-common .breadcrumb div a {
	background: var(--border);
}
/* GENERIC @Nav */
.page-common #horiznav_nav {
	border-color: var(--border);
}
.page-common #horiznav_nav ul li {
	background: var(--content-dim) !important;
}
.page-common #horiznav_nav ul li a {
	background: var(--content-dim) !important;
	color: var(--text-lnk) !important;
}
.page-common #horiznav_nav ul li a:hover {
	background: var(--border) !important;
	color: var(--text-lnk-hov) !important;
}
.page-common #horiznav_nav ul li .horiznav_active {
	background: var(--accent-dim) !important;
	color: var(--text-heading) !important;
}
.page-common #horiznav_nav ul li .horiznav_active:hover {
	background: var(--accent) !important;
	color: var(--text-heading) !important;
}
/* TEXT */
/* Spoiler Expand & Quote Expand Buttons */
#myanimelist .spoiler .button, #myanimelist .quotetext .button.expand_quote {
	background: var(--content-dim) !important;
	border-color: var(--border);
	color: var(--text-dim);
}
#myanimelist .spoiler .button:hover, #myanimelist .quotetext .button.expand_quote:hover { border-color: var(--accent-dim) !important; }
#myanimelist .spoiler > .spoiler_content[style*="ck"] > .button {
	background: var(--border) !important;
	border-color: var(--accent-dim) !important;
}
#myanimelist .spoiler > .spoiler_content[style*="ck"] > .button:hover { border-color: var(--accent) !important; }
#myanimelist .quotetext {
	background: var(--quotebox-bg);
	border-color: var(--border);
}
#myanimelist .news-list .comment-list .quotetext {
	background: var(--quotebox-bg);
	border-color: var(--border);
	color: inherit;
}
#myanimelist .codetext {
	background: var(--codebox-bg);
	border-color: var(--border);
	color: var(--codebox-text);
}
/*------------------------------*\
  CONTENT @Search-Bars
\*------------------------------*/
#quickadd input {
	background-color: var(--content-dim);
	border-color: var(--border);
	color: var(--text);
}
#quickadd .inputButton {
	background-color: var(--accent);
	color: var(--border);
}
#quickadd .inputButton:not(:disabled):hover {
	background: var(--accent-dim);
	color: var(--text-lnk-hov);
}
/* Search Results */
.page-common #advancedSearchResultList {
	background: var(--content-dim);
	border-color: var(--border);
}
#advancedSearchResultList .list.focus { background: var(--border); }
#advancedSearchResultList .list .image { border-color: var(--border); }
#advancedSearchResultList .list .name { color: var(--text) !important; }
#advancedSearchResultList .list .media-type { color: var(--text-dimmer) !important; }
#advancedSearchResultList .list .extra-info { color: var(--text-dim) !important; }
#advancedSearchResultList .list.separator {
	background: var(--border);
}
#advancedSearchResultList .list.separator span {
	color: var(--text);
}
#advancedSearchResultList .list-bottom {
	background: var(--content-dim) !important;
}
#advancedSearchResultList .list-bottom.focus {
	background: var(--accent) !important;
}
#advancedSearchResultList .list.list-bottom a { color: var(--header-text); }
#advancedSearchResultList .list.list-bottom.focus a { color: var(--header); }
/* Advanced Search */
#advancedSearch .fw-b.mt24 {
	color: var(--text);
}
#advancedSearch .fw-b.mt24 a {
	color: var(--text-dim);
}
/* ===============================================
!GENERIC @News
=============================================== */
body.news .menu-category .btn-category.selected {
	color: #7f7f7f !important;
}
.di-ib.tags *, .tag-cloud * {
	background-color: transparent !important;
}
#myanimelist .news-list .tags .tags-inner-attributes {
	border-color: var(--border);
}
#myanimelist .news-list .tags-inner .tag {
	background: var(--content-dim);
	border-color: var(--border);
	color: var(--text);
	
}
#myanimelist .news-list .tags-inner > .tag:hover {
	background: var(--content-dimmer);
	color: var(--text-lnk-hov);
}
#myanimelist .news-list .tags .tag-color-feature-spoiler { border-color: var(--return-bad); }
/* ===============================================
!GENERIC @Companies
=============================================== */
.navi-seasonal.js-navi-company {
	background-color: transparent !important;
}
	
/* ===============================================
!GENERIC @Interest Stacks
=============================================== */
.mymenu.clearfix, .tag, .quick-search *, .info-block.clearfix, h2.title, .tag, .any_status, .head {
	background-color: var(--content) !important;
}
.info {
	background-color: transparent !important;
}
.introduction, .any_status strong, .intro {
	color: var(--text-heading) !important;
}
/* ===============================================
!PROFILE
=============================================== */
.page-common .content-container .container-left {
	border-color: var(--border);
}
.user-profile .user-status li {
	background: transparent !important;
}
.user-profile .user-status.border-top {
	border-color: var(--border);
}
/* Profile Action Button */
.user-profile .user-function .icon-user-function:not(.disabled) {
	background-color: var(--content-dim);
	border-color: var(--border);
}
.user-profile .user-function .icon-user-function:not(.disabled) {
	background-color: var(--content-dim);
	border-color: var(--border);
}
.user-profile .user-function .icon-user-function:not(.disabled):hover {
	background-color: var(--content-dimmer);
}
.user-profile .user-function .icon-user-function.disabled {
	background-color: transparent !important;
	border-color: var(--border);
}
/* ===============================================
!FORUM
=============================================== */
/* Browser */
.page-common table.forum-topics tr td {
	background-color: transparent !important;
	border-color: var(--border);
}
/* Posts */
.page-forum .forum_postusername a,.page-forum .forum_postusername a:visited { color: var(--text-dim); }
.page-forum .forum_postusername a:hover { color: var(--text); }
.page-forum [class^="forum_boardrow"],
.page-forum .sig
{
	background: transparent;
	border-color: var(--border);
}
/* Icons */
.js-toggle-watching-topic-button img {
	background:rgba(var(--notif-rgb), 0.33) content-box;
	border-color: rgba(var(--notif-rgb), 0.33);
} .js-toggle-watching-topic-button img[title*="re wa"] {
	background-color: var(--notif);
	border-color: var(--notif);
}
.js-ignore-topic-button {
	background: var(--border);
}
.js-ignore-topic-button:before {
	background: var(--text-dim);
}
/* ===============================================
!NOTIFICATIONS
=============================================== */
/* Left Column */
body.notification #myanimelist #content .left-column {
	border-color: var(--border);
}
body.notification .notificaiton-category-nav a {
	color: var(--text-heading);
}
body.notification .notificaiton-category-nav a .fa {
	color: var(--icon);
}
body.notification .notificaiton-category-nav a:hover, body.notification .notificaiton-category-nav a.active {
	background: var(--content-dim);
}
body.notification .notificaiton-category-nav a .counter.zero {
	background: var(--border);
	color: var(--text-heading);
}
body.notification .notificaiton-category-nav a .counter {
	background: var(--accent);
}
/* Right Column */
body.notification .notification-item {
	border-color: var(--border);
}
/* Time */
body.notification .notification-item-layout .time {
	color: var(--text-dimmest);
}
/* Unread */
body.notification #myanimelist .notification-item-layout .fa {
	color: var(--text);
}
/* Read */
body.notification .notification-item-layout .is-read .fa-check-circle { background: var(--notif); }
body.notification .notification-item-layout .fa-check:hover { background: var(--border); }
/*------------------------------*\
  BROWSE @Anime-Search
\*------------------------------*/
/*https://myanimelist.net/anime.php*/
/*https://myanimelist.net/manga.php*/
/* Browse Page */
.anime-manga-search .genre-link .genre-list .genre-name-link {
	border-color: var(--border);
}
.anime-manga-search .genre-link .genre-list .genre-name-link:hover {
	border-color: var(--accent);
}
/* ===============================================
BROWSE @Top-Lists
=============================================== */
/* 
 * https://myanimelist.net/topanime.php
 * https://myanimelist.net/topmanga.php
 * https://myanimelist.net/people.php
 * https://myanimelist.net/character.php
 */
#myanimelist [class$="-ranking-table"] .text {
	color: var(--text);
}
#myanimelist [class$="-ranking-table"] td {
	border-color: var(--border);
}
#myanimelist [class$="-ranking-table"] .table-header td {
	background: var(--border);
}
#myanimelist [class$="-ranking-table"] .ranking-list:nth-of-type(even) td {
	background: transparent;
}
#myanimelist [class$="-ranking-table"] .ranking-list:nth-of-type(odd) td {
	background: var(--content-dimmer);
}

/* Manga store text */
#myanimelist [class$="-ranking-table"] .title .link {
	color: var(--text-dimmer);
}

/* ===============================================
BROWSE @Seasonal
=============================================== */
/* Header */
.navi-seasonal {
	background: var(--content);
}
.navi-seasonal .horiznav-nav-seasonal {
	border-color: var(--border);
}
.season .seasonal-sort-order-block {
	background: var(--content-dim);
	border-color: var(--border);
}
.navi-seasonal.fixed {
	background: var(--border);
}
.navi-seasonal.fixed:after {
	background: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0, 0));
}
.navi-seasonal .horiznav_nav ul li a,
.navi-seasonal .horiznav_nav ul li a.navtab,
.navi-seasonal .horiznav-nav-seasonal .btn-seasonal .btn-type
{
	background: transparent;
	border-color: var(--border);
	color: var(--text-dim);
}
/* Items */
.seasonal-anime-list .seasonal-anime {
	border-color: var(--border);
}
.seasonal-anime-list .seasonal-anime .prodsrc {
	background: var(--border);
}
.seasonal-anime-list .seasonal-anime .genres,
.seasonal-anime-list .seasonal-anime .properties .property {
	background: var(--content-dim);
	border-color: var(--border);
}
.seasonal-anime-list .seasonal-anime .properties .property:nth-child(even) {
	background: transparent;
}
.seasonal-anime-list .seasonal-anime .genres .genre {
	background: var(--content-dim);
	border-color: var(--border);
}
.seasonal-anime-list .seasonal-anime .genres .genre a {
	color: var(--text-dimmer);
}
.seasonal-anime-list .seasonal-anime .information {
	background: var(--border);
	border-color: var(--border);
}
.seasonal-anime-list .seasonal-anime .information > div {
	color: var(--text-dimmer) !important;
}
/* ===============================================
BROWSE @Clubs
=============================================== */
/* Text */
.club-list .table-data td {
	border: var(--border) !important;
}
.club-list .table-data td .informantion {
	color: var(--text);
}
/* Join Button */
#myanimelist .club-list .btn-club-join {
	background-color: var(--accent);
	background-color: var(--border);
	color: var(--text);
	
}
#myanimelist .club-list .btn-club-join:hover {
	background: var(--accent-dimmest);
	color: var(--text-lnk-hov);
}
/* New Comment */
.club-list .table-data td .new {
	color: var(--notif);
}
/* ===============================================
!FANCYBOX-ETC
=============================================== */
#fancybox-overlay {
	background: black !important;
}
#fancybox-outer {
	background: var(--border);
}
#fancybox-inner {
	color: var(--text);
}
#fancybox-inner div {
	background: black !important;
}
/* MODALS */
.root * { border-color: var(--border) !important; }
.root .modal-mask { background-color: rgba(0,0,0,0.7) }
.root .modal-content {
	background: var(--header);
	border-color: var(--border);
}
.root .modal-container {
	border-color: var(--accent) !important;
	color: var(--text);
}
.root button {
	background: var(--accent);
	color: var(--border);
}
.root button:hover { color: var(--text-lnk-hov); }
